h3 {
	color: red;

}
.ms{
	background-color:yellow ;

}
.border{
	border: 1px solid black;

}
#sha{
	font-size: 25px;
}

div{
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}